.tile {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 0px #000;
  cursor: pointer;
}

.tile:hover {
  background-color: black;
  color: white;
  box-shadow: 4px 4px 0px rgb(214, 62, 176);
}

.tileEmpty {
  background-color: white;
  border: none;
  box-shadow: none;
}

.tileEmpty:hover {
  background-color: white;
  box-shadow: none;
}
